:root {
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
}
* {
    color: var(--fontColor);
    font-family: helvetica;
}
body {
    background: var(--bg);
}
ol {
    font-family: helvetica;
}

div {
    float: left;
    width: 100px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}